.camera-card {
  /* background-color: #111; */
  background-color: #414345;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.camera-image-wrapper {
  background-color: #111;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.camera-image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.placeholder-text {
  color: #888;
  font-size: 1rem;
}

.camera-fps {
  position: absolute;
  top: 4px;
  left: 4px;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 2px 6px;
  font-size: 0.8rem;
  border-radius: 4px;
  color: #0f0;
  z-index: 2;
}