.controls-root {
  display: flex;
  height: 100%;
  width: 100%;
  background-color: #414345;
  border-radius: 16px;
  padding: 12px;
  box-sizing: border-box;
  gap: 12px;
}

.controls-side {
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.controls-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 12px;
  overflow-y: auto;
}