button:active:not(.no-scale) {
  transform: scale(0.95);
  opacity: 0.8;
  transition: transform 0.1s ease, opacity 0.1s ease;
}

.no-scale:active {
  opacity: 0.8;
  transition: transform 0.1s ease, opacity 0.1s ease;
}