.manual-pad {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #414345;
  box-shadow: 0 4px 12px rgba(0,0,0,0.6);
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.manual-center-btn {
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #36383a;
  color: white;
  font-weight: normal;
  border: none;
  cursor: pointer;
  z-index: 2;
  transition: background 0.2s, color 0.2s;
}

.manual-center-btn:hover {
  background-color: #f0995c;
  color: #111;
}

.directions {
  position: absolute;
  width: 200px; /* size of the D-pad */
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.directions.disabled button {
  opacity: 0.3;
  pointer-events: none;
}

.directions button {
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  background-color: #36383a;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background 0.2s, transform 0.1s;
}

.directions button:hover {
  background-color: #f0995c;
  color: #111;
}

/* Positioning the directional buttons around the center */
.up {
  top: 0;
  left: 50%;
  transform: translateX(-50%) scale(0.95);
}

.down {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.left {
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.right {
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}