.mode-selector {
  position: relative;
  display: flex;
  flex-direction: column;
  border: 2px solid #444;
  border-radius: 14px;
  overflow: hidden;
  width: 100%;
  height: 90%;
  background-color: #36383a;
  padding: 4px 0;
}

.mode-button {
  flex: 1;
  font-size: 1rem;
  border: none;
  background: none;
  color: white;
  cursor: pointer;
  position: relative;
  z-index: 1;
}

.mode-button:hover:not(.active) {
  color: #f0995c;
}

.mode-button.active {
  color: black;
}

.mode-slider {
  position: absolute;
  left: 4px;
  right: 4px;
  height: calc((100% - 8px) / 3);
  background-color: #f0995c;
  border-radius: 12px;
  transition: transform 0.4s ease;
  z-index: 0;
}

.mode-slider.hover {
  background-color: #e68b50;
}