html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: sans-serif;
  background-color: #36383A;
}

.dashboard-root {
  display: grid;
  grid-template-rows: 1fr;
  height: 100vh;
  width: 100vw;
}

.dashboard-grid {
  display: grid;
  /* grid-template-columns: 7fr 4fr; 
  grid-template-rows: 2fr 1fr;  */
  grid-template-columns: 10fr 9fr; 
  grid-template-rows: 6fr 2fr; 
  height: 100%;
  width: 100%;
  gap: 15px;
  box-sizing: border-box;
}

.panel.top-left {
  aspect-ratio: 4 / 3;
  width: 100%;
  height: 100%;
  padding: 15px 0px 0px 15px;
  box-sizing: border-box;
}

.panel.top-right {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 15px 15px 0px 0px;
  box-sizing: border-box;
}

.panel.bottom-left {
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 0px 0px 15px 15px;
  box-sizing: border-box;
}

.panel.bottom-right {
  width: 100%;
  height: 100%;
  padding: 0px 15px 15px 0px;
  box-sizing: border-box;
}